
@{
    ViewBag.Title = "Add Admin";
}

<h2>Add Admin</h2>

<form method="post" action="./addadmin">
    <label for="username">User Name</label><br />
    <input type="text" name="username" id="username" /><br /><br />
    <label>Password</label><br />
    <input type="password" name="password" id="password" /><br /><br />
    <label for="email">E-Mail</label><br />
    <input type="email" name="email" id="" /><br /><br />
    <label for="phone">Phone Number</label><br />
    <input type="tel" name="mobile_phone" id="phone" /><br /><br />

    <button>Sign Up</button>
</form>

