
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <form method="post" action="./create">

        <label for="title">Title</label><br />
        <input type="text" name="title" id="title" /><br /><br />
        <label for="author">Author</label><br />
        <input type="text" name="author" id="author" /><br /><br />
        <label for="type">Type</label><br />
        <input type="text" name="type" id="type" /><br /><br />
        <label for="category">Category</label><br />
        <input type="text" name="category" id="category" /><br /><br />
        <label for="publisher">Publisher</label><br />
        <input type="text" name="publisher" id="publisher" /><br /><br />
        <label for="published_on">Published On</label><br />
        <input type="date" name="published_on" id="published_on" /><br /><br />
        <label for="pages">Pages</label><br />
        <input type="number" name="pages" id="pages" /><br /><br />
        <label for="edition">Edition</label><br />
        <input type="text" name="edition" id="edition" /><br /><br />
        <label for="copies">Copies</label><br />
        <input type="number" name="copies" id="copies" /><br /><br />
        <label for="cost">Cost</label><br />
        <input type="text" id="cost" name="cost" /><br /><br />
        <label for="price_of_selling">Price of selling</label><br />
        <input type="text" id="price_of_selling" name="price_of_selling" /><br /><br />
        <label id="price_of_reservation">Price of reservation</label><br />
        <input type="text" id="price_of_reservation" name="price_of_reservation" /><br /><br />
        <label for="reservation_period">Reservation Period</label><br />
        <input type="text" id="reservation_period" name="reservation_period" /><br /><br />

        <input type="submit" />
    </form>
</div>

